
* {
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 16px;
}


/** HEADER **/

#header-nav {
  
    background-color:Gray;
  
    border-radius: 1.5em;
  
    border: 0;

}

 


#chicken_box {
    background-color: gray
}
#beef_box {
    background-color: Gray
}

#sushi_box {
    background-color: gray
}
body {
  font-size: 16px;
  color: Black;
  background-color: gray;
  
}

/** HEADER **/
#header-nav {
  background-color:gray ;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
 color: Black;
  font-size: 1.5em;
 font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
