body{
  
    font-size: 16px;
  
    color: Black;
  
    background-color:  
    font-family: 'gray family', sans-serif;

    }


/** HEADER **/

#header-nav {
  
               background-color: gray;
  
               border-radius: 0;
  
               border: 0;

            }

 
.navbar-brand {
  
             padding-top: 25px;
            
.navbar-brand h1 { /* Restaurant name */
  font-family: san-serif;
  color: Black;
  font-size: 1.5em;
  text-transform: 
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: Solid Black;
  line-height: .75;
}

.navbar-brand a:hover, 
.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top:15px;
}

.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}