
* {
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 16px;
}


/** HEADER **/

#header-nav {
  
    background-color:Gray;
  
    border-radius: 1.5em;
  
    border: 0;

}

 


#chicken_box {
    background-color: gray;
    font-color:Black;
    width:100%
}
#beef_box {
    background-color: gray;
    font-color:Black;
    width:100% 
}

#sushi_box {
     background-color: gray;
     font-color:Black;
     width:100% 
}

.navbar-brand h1 { /* Restaurant name */
 color: Black;
  font-size: 1.5em;
 font-weight: bold;
 margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}


